@font-face {
    font-family: Marsmonster;
    src: url(font/Marsmonster.ttf);
}

body {
    text-align: center;
    font-size: 120px;
    font-family: Marsmonster; 
    background-color: #34495e;
}

body > * {
    background-color: #f1c40f;
    color: #34495e;
    margin-top: 25%;
    padding: 15px;
}